// app global css in SCSS form
@supports (backdrop-filter: none) {
  .glass {
    background-color: rgba(25,118,210,.65);
    backdrop-filter: blur(7px);
  }
}

@supports not (backdrop-filter: none) {
  .glass {
    background-color: $primary;
  }
}

.q-dark div,
.body--dark div {
  @supports (backdrop-filter: none) {
    .glass {
      background-color: rgba(10, 15, 20, 0.65);
      backdrop-filter: blur(7px);
    }
  }

  @supports not (backdrop-filter: none) {
    .glass {
      background-color: $dark;
    }
  }

}

.panel {
  min-width: 120px !important;
}

.panel-title {
  font-size: 1.2rem;
}

.border-light {
  border: solid 1px lightgray;
  border-radius: 2px;
}

.identity-svg-wrapper {
  max-width: 25px;
  max-height: 25px;
  margin: 2px;
}

.apexcharts-eras-rewards,
.apexcharts-validator-reward-points {
  border-radius: 4px;
  overflow: hidden;
  background-color: #1d1d1d;
}
