// app global css in SCSS form
@supports (backdrop-filter: none) {
  .glass {
    background-color: rgba(25, 118, 210, 0.65);
    backdrop-filter: blur(7px);
  }
}

@supports not (backdrop-filter: none) {
  .glass {
    background-color: $primary;
  }
}

.q-dark div,
.body--dark div {
  @supports (backdrop-filter: none) {
    .glass {
      background-color: rgba(10, 15, 20, 0.65);
      backdrop-filter: blur(7px);
    }
  }

  @supports not (backdrop-filter: none) {
    .glass {
      background-color: $dark;
    }
  }
}

.entity-link {
  text-decoration: underline dotted;
  color: inherit;
}

.panel {
  min-width: 140px !important;
}

.panel-title {
  font-size: 1rem;
}

.identity-svg-wrapper {
  max-width: 25px;
  max-height: 25px;
  margin: 2px;
}

.info-table {
  max-width: 380px;
  width: 100%;
  border-radius: 4px;
  padding: 2px;
  margin-top: 8px;
  transition: color 0.3s, background-color 0.3s;
}

@media (max-width: $breakpoint-xs-max) {
  .info-table {
    max-width: 100% !important;
  }
}

.info-table table {
  width: 100%;
  // table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}

.info-table thead,
.info-table tbody {
  overflow: hidden;
}

.info-table thead {
  font-size: 18px;
  font-weight: bold;
}

.border-light {
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.q-dark div,
.body--dark div {
  .info-table thead {
    color: #ffff00;
  }
  .info-table thead,
  .info-table tbody {
    background-color: var(--q-dark);
  }
  .q-item.q-router-link--active,
  .q-item--active {
    color: #ffff00;
  }
  .border-light {
    border: solid 1px rgba(255, 255, 255, 0.2);
    border-radius: 2px;
  }
}

.oversubscribed-highlight {
  color: red;
}
